**/*.ts
**/tsconfig.json
**/babel.config.js
**/node_modules/**
.vscode/**
.github/**
client/**
server/**
_dev/**
**/*.map
.gitignore
webpack.config.js
bin/*/.keep
bin/.gitignore
scripts/.gitignore
scripts/*.o
